USE [VizijaX]
GO
ALTER TABLE [dbo].[KontaktTelefon] DROP CONSTRAINT [FK_KontaktTelefon_Kontakt]
GO
ALTER TABLE [dbo].[KontaktMail] DROP CONSTRAINT [FK_KontaktMail_Kontakt]
GO
ALTER TABLE [dbo].[Kontakt] DROP CONSTRAINT [FK_Kontakt_GlavnaTabela]
GO
/****** Object:  Table [dbo].[KontaktTelefon]    Script Date: 3/16/2018 5:16:43 PM ******/
DROP TABLE [dbo].[KontaktTelefon]
GO
/****** Object:  Table [dbo].[KontaktMail]    Script Date: 3/16/2018 5:16:43 PM ******/
DROP TABLE [dbo].[KontaktMail]
GO
/****** Object:  Table [dbo].[Kontakt]    Script Date: 3/16/2018 5:16:43 PM ******/
DROP TABLE [dbo].[Kontakt]
GO
/****** Object:  Table [dbo].[GlavnaTabela]    Script Date: 3/16/2018 5:16:43 PM ******/
DROP TABLE [dbo].[GlavnaTabela]
GO
USE [master]
GO
/****** Object:  Database [VizijaX]    Script Date: 3/16/2018 5:16:43 PM ******/
DROP DATABASE [VizijaX]
GO
/****** Object:  Database [VizijaX]    Script Date: 3/16/2018 5:16:43 PM ******/
CREATE DATABASE [VizijaX]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VizijaX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VizijaX]
GO
/****** Object:  Table [dbo].[GlavnaTabela]    Script Date: 3/16/2018 5:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlavnaTabela](
	[IDPreduzeca] [int] IDENTITY(1,1) NOT NULL,
	[NazivPreduzeca] [nvarchar](100) NULL,
	[AdresaRegistracijePreduzeca] [nvarchar](100) NULL,
	[Opstina] [nvarchar](50) NULL,
	[MaticniBrojPreduzeca] [nvarchar](15) NULL,
	[PIB] [nvarchar](30) NULL,
	[BrRacuna] [nvarchar](30) NULL,
	[WebStranica] [nvarchar](50) NULL,
	[Fotografija] [varbinary](max) NULL,
	[Beleska] [nvarchar](256) NULL,
 CONSTRAINT [PK_GlavnaTabela] PRIMARY KEY CLUSTERED 
(
	[IDPreduzeca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kontakt]    Script Date: 3/16/2018 5:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontakt](
	[IDOsoba] [int] IDENTITY(1,1) NOT NULL,
	[IDPreduzeca] [int] NOT NULL,
	[Ime] [nvarchar](30) NULL,
	[Prezime] [nvarchar](30) NULL,
	[RadnoMesto] [nvarchar](30) NULL,
 CONSTRAINT [PK_Kontakt] PRIMARY KEY CLUSTERED 
(
	[IDOsoba] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KontaktMail]    Script Date: 3/16/2018 5:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KontaktMail](
	[IDMail] [int] IDENTITY(1,1) NOT NULL,
	[IDOsoba] [int] NOT NULL,
	[OznakaPosla] [nvarchar](25) NULL,
	[Adresa] [nvarchar](30) NULL,
 CONSTRAINT [PK_KontaktMail_1] PRIMARY KEY CLUSTERED 
(
	[IDMail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KontaktTelefon]    Script Date: 3/16/2018 5:16:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KontaktTelefon](
	[IDTel] [int] IDENTITY(1,1) NOT NULL,
	[IDOsoba] [int] NOT NULL,
	[OznakaTelefona] [nvarchar](25) NULL,
	[BrojTelefona] [nvarchar](15) NULL,
	[Lokal] [nvarchar](30) NULL,
 CONSTRAINT [PK_KontaktTelefon_1] PRIMARY KEY CLUSTERED 
(
	[IDTel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlavnaTabela] ON 

SET IDENTITY_INSERT [dbo].[GlavnaTabela] OFF
SET IDENTITY_INSERT [dbo].[Kontakt] ON 

INSERT [dbo].[Kontakt] ([IDOsoba], [IDPreduzeca], [Ime], [Prezime], [RadnoMesto]) VALUES (6036, 6022, N'Aleksandar', N'Kostić', N'Profesor')
INSERT [dbo].[Kontakt] ([IDOsoba], [IDPreduzeca], [Ime], [Prezime], [RadnoMesto]) VALUES (6037, 6022, N'Dušan', N'Unkulov', N'Asistent')
INSERT [dbo].[Kontakt] ([IDOsoba], [IDPreduzeca], [Ime], [Prezime], [RadnoMesto]) VALUES (6038, 6023, N'Damjan', N'Vuković', N'Software Development Engineer')
SET IDENTITY_INSERT [dbo].[Kontakt] OFF
SET IDENTITY_INSERT [dbo].[KontaktMail] ON 

INSERT [dbo].[KontaktMail] ([IDMail], [IDOsoba], [OznakaPosla], [Adresa]) VALUES (5020, 6036, N'Poslovni', N'aleksandar.kostic@its.edu.rs')
INSERT [dbo].[KontaktMail] ([IDMail], [IDOsoba], [OznakaPosla], [Adresa]) VALUES (5021, 6036, N'Privatni', N'aca@gmail.com')
INSERT [dbo].[KontaktMail] ([IDMail], [IDOsoba], [OznakaPosla], [Adresa]) VALUES (5022, 6037, N'Poslovni', N'dusan.unkulov@its.edu.rs')
SET IDENTITY_INSERT [dbo].[KontaktMail] OFF
SET IDENTITY_INSERT [dbo].[KontaktTelefon] ON 

INSERT [dbo].[KontaktTelefon] ([IDTel], [IDOsoba], [OznakaTelefona], [BrojTelefona], [Lokal]) VALUES (3049, 6036, N'Privatni', N'+38166123456', N'01')
INSERT [dbo].[KontaktTelefon] ([IDTel], [IDOsoba], [OznakaTelefona], [BrojTelefona], [Lokal]) VALUES (3050, 6036, N'Poslovni', N'+38165987654', N'02')
INSERT [dbo].[KontaktTelefon] ([IDTel], [IDOsoba], [OznakaTelefona], [BrojTelefona], [Lokal]) VALUES (3051, 6037, N'Privatni', N'+38168123456', N'01')
SET IDENTITY_INSERT [dbo].[KontaktTelefon] OFF
ALTER TABLE [dbo].[Kontakt]  WITH CHECK ADD  CONSTRAINT [FK_Kontakt_GlavnaTabela] FOREIGN KEY([IDPreduzeca])
REFERENCES [dbo].[GlavnaTabela] ([IDPreduzeca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kontakt] CHECK CONSTRAINT [FK_Kontakt_GlavnaTabela]
GO
ALTER TABLE [dbo].[KontaktMail]  WITH CHECK ADD  CONSTRAINT [FK_KontaktMail_Kontakt] FOREIGN KEY([IDOsoba])
REFERENCES [dbo].[Kontakt] ([IDOsoba])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KontaktMail] CHECK CONSTRAINT [FK_KontaktMail_Kontakt]
GO
ALTER TABLE [dbo].[KontaktTelefon]  WITH CHECK ADD  CONSTRAINT [FK_KontaktTelefon_Kontakt] FOREIGN KEY([IDOsoba])
REFERENCES [dbo].[Kontakt] ([IDOsoba])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KontaktTelefon] CHECK CONSTRAINT [FK_KontaktTelefon_Kontakt]
GO
USE [master]
GO
