@{
    ViewBag.Title = "Home Page";
}
<div style=" padding-top: 10%">

    <button class="dugme" type="button" onclick="location.href='@Url.Action("Index","Korisnici")'" class="btn btn-default">Upravljanje korisnicima</button>

    <span style="margin-left:5%; margin-top:5%; ">
        <button class="dugme" type="button" onclick="location.href='@Url.Action("Index", "GlavnaTabela")'" class="btn btn-default">Formulari preduzeća</button>
    </span>
</div>

<style type="text/css">


    .dugme {
        display: block;
        width: 30%;
        height: 50px;
        margin: 0 auto;
        background-color: #fff;
        color: #3B5998;
        font-weight: bold;
        border-radius: 30px;
        border-width: 3px;
        border-color: #3B5998;
        font-size: 20px;
    }

        .dugme:hover {
            color: #1a3a7e;
            border-color: #1a3a7e;
        }

    
</style>