@{
    ViewBag.Title = "Home Page";
}


<p id="paragraf">Dobrodošli</p>
<p style="text-align: center; font-size:20px">
    Upustvo za prvo logovanje:  
</p>
<p style="text-align:center; font-size:20px">

    Korisničko ime: <b>admin</b>
</p>

<p style="text-align: center; font-size:20px">
    Lozinka: <b>admin1</b>
</p>






<style type="text/css">


    body {
        color: #3B5998;
    }


    hr {
        border-color: #3B5998;
    }

    #paragraf {
        padding-top: 10%;
        text-align: center;
        font-size : 20px;
    }
</style>